.github

  .repos
    .logo
      %img{:alt => "Github", :src => "/images/github_logo.png"}
    - Yajl::Parser.parse(File.read('data/github.json')).sort { |a, b| b['watchers'].to_i <=> a['watchers'].to_i }.each do |repo|
      .repo
        .stats
          %img{ :src => '/images/icons/eye_12x9.png' }
          = repo['watchers']
          %img{ :src => '/images/icons/fork_11x12.png' }
          = repo['forks']
        .name
          %a{ :href => repo['url'] }
            = repo['name']
        .language
          = repo['language']
        .description
          = repo['description']
