!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      = render "_meta.html"
  %body
    .container
      = render "_header.html"
      .clear
      .row
        .span7
          %h2.post-title= @item[:title]
          = yield
        .span5
          = render "_twitter.html"
          = render "_github.html"

