!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      = render "_meta.html"
  %body
    = render "_analytics.html"
    .container.bottom-space
      = render "_header.html"
      .clear
      .row
        .span8
          %h2.post-title= @item[:title]
          .post-meta
            %div.author= "#{@item[:author]} @ #{date_display(@item[:created_at])}"
            %div.facebook-share
              %a{:name => "fb_share"}
              %script{:src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share", :type => "text/javascript"}
            %div.twitter-button
              = render "_twitter_button.html", :url => @config[:base_url] + "/" + @item.path, :title => @item[:title]
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          .clear
          %article
            = article_content(yield)
          = render "_disqus.html", :disqus_identifier => @item[:identifier]
        .span4
          = render "_twitter.html"
          = render "_github.html"
