!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      = render "_meta.html"
  %body
    = render "_analytics.html"
    .container
      = render "_header.html"
      .clear
      .row
        .span8
          = render "_welcome.html"

          - @item[:articles].each do |article|
            %article
              %h2.post-title
                %a{href: article.path }= article[:title]
              .post-meta
                %div.author= "#{article[:author]} @ #{date_display(article[:created_at])}"
                %div.twitter-button
                  = render "_twitter_button.html", :url => @config[:base_url] + article.path, :title => article[:title]
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                %div.facebook-share
                  .fb-like{"data-href" => @config[:base_url] + article.path, "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "50"}
              .clear
              = article_excerpt(article.compiled_content)
              %a{href: article.path + "#disqus_thread", "data-disqus-identifier" => article[:identifier]} Comments
          - if @item[:prev]
            %a{href: @item[:prev].path}= "Prev page"
          - if @item[:next]
            %a{href: @item[:next].path}= "Next page"
        .span4
          = render "_facebook.html"
          = render "_twitter.html"
          = render "_github.html"
    :javascript
      var disqus_shortname = 'futuresimplelab';
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
