!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      = render "_meta.html"
  %body
    .container
      = render "_header.html"
      .clear
      .row
        .span8
          = render "_welcome.html"

          - @item[:articles].each do |article|
            %article
              %h2.post-title
                %a{href: article.path }= article[:title]
              %h6.post-author
                = article[:author]
                @
                = date_display(article[:created_at])
              = article_excerpt(article.compiled_content)
              %a{href: article.path + "#disqus_thread", "data-disqus-identifier" => article[:identifier]} Comments
              = render 'disquss_sum_up.html'
            - if @item[:prev]
              %a{href: @item[:prev].path}= "Prev page"
            - if @item[:next]
              %a{href: @item[:next].path}= "Next page"
        .span4
          = render "_twitter.html"
          = render "_github.html"
