!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      = render "_meta.html"
  %body
    = render "_analytics.html"
    .container.bottom-space
      = render "_header.html"
      .clear
      .row
        .span8
          %h2.post-title= @item[:title]
          %h6.post-author
            = @item[:author]
            @
            = date_display(@item[:created_at])
          %article
            = article_content(yield)
          = render "_disquss.html", :disqus_identifier => @item[:identifier]
        .span4
          = render "_twitter.html"
          = render "_github.html"
