!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      = render "_meta.html"
  %body
    = render "_analytics.html"
    .container
      = render "_header.html"
      .clear
      .row
        .span8
          = render "_welcome.html"

          - @item[:articles].each do |article|
            %article
              %h2.post-title
                %a{href: article.path }= article[:title]
              %h6.post-author
                = article[:author]
                @
                = date_display(article[:created_at])
              = article_excerpt(article.compiled_content)
              %a{href: article.path + "#disqus_thread", "data-disqus-identifier" => article[:identifier]} Comments
            - if @item[:prev]
              %a{href: @item[:prev].path}= "Prev page"
            - if @item[:next]
              %a{href: @item[:next].path}= "Next page"
        .span4
          = render "_twitter.html"
          = render "_github.html"
    :javascript
      var disqus_shortname = 'futuresimplelab';
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
